.caixinha-usuario {
    background-color: yellow;
    float: right;
    margin-left: 80%;
border-radius: 20px;
max-width: autopx;
margin-bottom: 20px;

}
.caixinha-usuario2{
    background-color: grey;
    float: left;
    margin-right: 80%;
    border-radius: 20px;
    max-width: autopx;
    margin-bottom: 20px
}
#content{
    width: auto;
    height: auto;
    margin:auto;
    
}
#chat-content{
    overflow-y: auto;
    height: 70%;
}

